<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<appSettings>
  <add key="SaveRegexPath" value="Regex.txt"/>
  <add key="Size" value="" />
  <add key="SplitterDistance" value="" />
</appSettings>
</configuration>