<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="IgnoreList" value=".exe|.dll|.obj|.pdb|.dbg|.cache|"/>
    <add key="SaveFloder" value="E:\SourceCode\SVN\GitHub"/>
  </appSettings>
</configuration>